<footer id="footer" class="site-footer">
  <div class="container-fluid">
    <div class="footer-grid footer-grid-compact">
      <div class="footer-brand">
        <strong>Wenxiang Jiao</strong>
        <p>&copy; {{ site.time | date: '%Y' }}</p>
      </div>
      <div class="footer-links">
        <a href="mailto:wenxiangjiaonju@gmail.com">Email</a>
        <a href="https://scholar.google.com/citations?hl=zh-CN&user=CvtODukAAAAJ&view_op=list_works&sortby=pubdate">Scholar</a>
        <a href="https://github.com/wxjiao">GitHub</a>
        <a href="https://twitter.com/WenxiangJiao">X / Twitter</a>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
