---
layout: default
---
<style>
table {
  width: 100%; /*表格宽度*/
  border-collapse: collapse; /*使用单一线条的边框*/
  empty-cells: show; /*单元格无内容依旧绘制边框*/
  border-spacing: 20px 10px;
}
table th,td {
height: 35px; /*统一每一行的默认高度*/
}
table th {
  font-weight: bold; /*加粗*/
  text-align: center !important; /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
  background: #ECF2F9; /*背景色*/
  white-space: nowrap; /*表头内容强制在一行显示*/
}
/* 隔行变色 */
table tbody tr:nth-child(2n) {
  background: #F4F7FB; 
}
/* 悬浮变色 */
table tr:hover {
  background: #B2B2B2; 
}
/* 首列不换行 */
table td:nth-child(1) {
  white-space: nowrap; 
}
tr,td{font-size:10px;
}
</style>

<div id="teaching" class="col-sm-12">
  {{ content }}
</div>
